/* .prompt-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 500px;
}

.prompt-text {
    padding: 1rem;
    border-right: 1px solid black;
}

.prompt-keyframes {
    padding: .5rem;
    display: flex;
    align-items: center;
}

.prompt-key {
    width: 2rem;
    text-align: center;
    margin: 0 .25rem;
} */