body {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  background-color: beige;
  max-width: 960px;
  margin: 5rem auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
}

.keyframe-help {
  width: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prompts-column,
.keyframe-column {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.prompts-container,
.keyframe-container {
  /* margin-top: 1rem; */
}

.prompt {
  display: flex;
  /* background-color: red; */
}

.prompts-new {
  /* background-color: red; */
  /* justify-self: flex-end; */
  /* align-self: flex-end; */
}

.btn-delete {
  cursor: pointer;
}

.keyframe-column .btn-delete {
    height: 100%;
}

.inline-data,
.prompts-help,
.keyframe-help {
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.inline-data input {
    cursor: pointer;
}

/* input:hover {
  background-color: #d3d3d3;
  cursor: pointer;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
